*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    padding-top: 75px;
}

div{
    max-height: 300px;
    overflow-y:scroll;
    overflow-x: hidden;
    width: 700px;
    margin: auto;
}

thead, caption, tfoot{
    position: fixed;
}

caption{
    width: 700px;
    top: 0;
}

thead{
    top: 45px;
    width: 700px;
}

 tfoot{
    width: 700px;
    top: 375px;
}

tfoot td{
    width: 700px;
}
 
tr,
td,
th{
    border: .5px solid black;
    width: calc(700px / 3);
    padding: 5px;
}

th{
    border-bottom: 3px solid green;
    background: #F0FFF0;
}

caption{
    height: 45px;
    line-height: 35px;
    font-size: 20px;
    text-decoration: underline;
}

tbody tr:nth-child(even){
    background-color:darkgray;
}

tfoot #reprovado{
    color: red;
}

tfoot #aprovado{
    margin-right: 4px; 
    text-align: left; 
    color: green;
}

tfoot #span{
    margin: 0 100px 0 100px; 
    color: black;
}

button{
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 40px;
}